# pandas - "A melhor biblioteca do Python para Dados"

- Quase sempre que você for trabalhar com dados no Python você vai usar o pandas, então é importante você saber trabalhar com essa biblioteca muito bem

- Vamos aprender os principais comandos e os princípios básicos do pandas

### Importando o pandas

In [1]:
import pandas as pd

### Criando um dataframe a partir de um dicionário

In [2]:
# dataframe = pd.DataFrame()
venda = {'data': ['15/02/2021', '16/02/2021'],
         'valor': [500, 300],
         'produto': ['feijao', 'arroz'],
         'qtde': [50, 70],
        }
vendas_df = pd.DataFrame(venda)

### Visualização dos Dados
    - print
    - display

In [3]:
display(vendas_df)

         data  valor produto  qtde
0  15/02/2021    500  feijao    50
1  16/02/2021    300   arroz    70

### Importando arquivos e bases de dados

In [4]:
vendas_df = pd.read_excel("Vendas.xlsx")
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036

### Resumos de Visualização de Dados simples e úteis
    - head
    - shape
    - describe

In [5]:
display(vendas_df.head(10))
print(vendas_df.shape)
display(vendas_df.describe())

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248
6,5,2019-01-02,Shopping Barra,Calça,1,170,170
7,6,2019-01-02,Shopping Ibirapuera,Polo Listrado,4,149,596
8,7,2019-01-02,Norte Shopping,Camisa Gola V Listrado,1,116,116
9,7,2019-01-02,Norte Shopping,Camisa Liso,1,105,105

(93910, 7)

       Código Venda    Quantidade  Valor Unitário   Valor Final
count  93910.000000  93910.000000    93910.000000  93910.000000
mean   32464.762155      2.166553      191.725886    414.862656
std    18809.007093      1.258732      145.215519    434.846228
min        1.000000      1.000000       30.000000     30.000000
25%    16204.000000      1.000000      100.000000    156.000000
50%    32367.000000      2.000000      155.000000    274.000000
75%    48793.750000      3.000000      248.000000    524.000000
max    65014.000000      5.000000      750.000000   3750.000000

### Pegar 1 coluna (e os pd.Series)

In [6]:
produtos = vendas_df['Produto']
#produtos = vendas_df[['Produto', 'ID Loja']]
display(produtos)

0           Sapato Estampa
1                 Camiseta
2            Sapato Xadrez
3                  Relógio
4             Chinelo Liso
               ...
93905       Mochila Xadrez
93906    Pulseira Listrado
93907       Cueca Listrado
93908       Pulseira Linho
93909        Casaco Xadrez
Name: Produto, Length: 93910, dtype: object

### .loc, um método muito importante
    - Pegar 1 linha
    - Pegar linhas de acordo com alguma condição
    - Pegar linhas e colunas específicas
    - Pegar 1 valor específico

In [24]:
# pegar uma linha
# display(vendas_df.loc[1])
display(vendas_df.loc[1:5])

# pegar linhas que correspondem a uma condição
vendas_norteshopping_df = vendas_df.loc[vendas_df['ID Loja'] == 'Norte Shopping']

# pegar várias linhas e colunas usando o loc
vendas_norteshopping_df = vendas_df.loc[vendas_df['ID Loja'] == 'Norte Shopping', ["ID Loja", "Produto", "Quantidade"]]
display(vendas_norteshopping_df)

# pegar 1 valor específico
print(vendas_df.loc[1, 'Produto'])

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto,Gerente
1,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40,0.0,Salvador
2,21,2019-01-02,Iguatemi Esplanada,Camisa Gola V Listrado,2,116,232,11.60,0.0,Salvador
3,34,2019-01-02,Iguatemi Esplanada,Sapato Listrado,1,363,363,18.15,0.0,Salvador
4,34,2019-01-02,Iguatemi Esplanada,Camisa Gola V Liso,2,118,236,11.80,0.0,Salvador
5,49,2019-01-02,Iguatemi Esplanada,Terno Xadrez,3,709,2127,106.35,0.0,Salvador

             ID Loja                 Produto  Quantidade
3979  Norte Shopping                 Relógio           3
3980  Norte Shopping            Chinelo Liso           1
3981  Norte Shopping  Camisa Gola V Listrado           1
3982  Norte Shopping             Camisa Liso           1
3983  Norte Shopping            Cueca Xadrez           5
...              ...                     ...         ...
8153  Norte Shopping             Tênis Linho           1
8154  Norte Shopping                   Terno           2
8155  Norte Shopping              Meia Linho           2
8156  Norte Shopping            Tênis Xadrez           1
8157  Norte Shopping                  Casaco           4

[4179 rows x 3 columns]

Sapato Xadrez

### Adicionar 1 coluna

In [8]:
# a partir de uma coluna que existe
vendas_df['Comissão'] = vendas_df['Valor Final'] * 0.05
# display(vendas_df)

# criar uma coluna com valor padrão
vendas_df.loc[:, "Imposto"] = 0 # ":" significa todas as linhas
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90,0
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00,0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40,0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00,0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55,0
...,...,...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566,28.30,0
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158,7.90,0
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201,10.05,0
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570,28.50,0
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036,51.80,0

### Adicionar 1 linha
    - Linhas de um complemento da base de dados

In [25]:
vendas_dez_df = pd.read_excel("Vendas - Dez.xlsx")
display(vendas_dez_df)

vendas_df = pd.concat([vendas_df,vendas_dez_df],ignore_index=True)
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,65014,2019-12-01,Shopping Morumbi,Sunga Listrado,5,114,570
1,65014,2019-12-01,Shopping Morumbi,Casaco Listrado,1,269,269
2,65016,2019-12-01,Iguatemi Campinas,Sapato Listrado,2,363,726
3,65016,2019-12-01,Iguatemi Campinas,Casaco,1,250,250
4,65017,2019-12-01,Shopping SP Market,Gorro Liso,3,92,276
...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto,Gerente
0,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00,0.0,Salvador
1,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40,0.0,Salvador
2,21,2019-01-02,Iguatemi Esplanada,Camisa Gola V Listrado,2,116,232,11.60,0.0,Salvador
3,34,2019-01-02,Iguatemi Esplanada,Sapato Listrado,1,363,363,18.15,0.0,Salvador
4,34,2019-01-02,Iguatemi Esplanada,Camisa Gola V Liso,2,118,236,11.80,0.0,Salvador
...,...,...,...,...,...,...,...,...,...,...
108082,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,NaN,NaN,NaN
108083,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,NaN,NaN,NaN
108084,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,NaN,NaN,NaN
108085,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,NaN,NaN,NaN
108086,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,NaN,NaN,NaN

### Excluir linhas e colunas

In [14]:
#vendas_df = vendas_df.drop("Imposto", axis=1) #(axis = 0 => linha / axis = 1 => coluna) axis = eixo.
vendas_df = vendas_df.drop(0, axis=0)
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00,0.0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40,0.0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00,0.0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55,0.0
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248,12.40,0.0
...,...,...,...,...,...,...,...,...,...
100994,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,NaN,NaN
100995,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,NaN,NaN
100996,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,NaN,NaN
100997,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,NaN,NaN
100998,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,NaN,NaN

### Valores Vazios
    - Deletar linhas/colunas vazias
    - Deletar linhas que possuem valores vazios
    - Preencher valores vazios (média e último valor)

In [15]:
# deletar linhas e colunas completamente vazias
#vendas_df = vendas_df.dropna(how='all', axis=1)

# deletar linhas que possuem pelo menos 1 valor vazio
#vendas_df = vendas_df.dropna()

# preencher valores vazios
# preencher com a média da coluna
vendas_df['Comissão'] = vendas_df['Comissão'].fillna(vendas_df['Comissão'].mean())
display(vendas_df)

# preencher com o último valor
vendas_df = vendas_df.ffill()

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.000000,0.0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.400000,0.0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.000000,0.0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.550000,0.0
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248,12.400000,0.0
...,...,...,...,...,...,...,...,...,...
100994,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,20.743163,NaN
100995,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,20.743163,NaN
100996,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,20.743163,NaN
100997,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,20.743163,NaN
100998,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,20.743163,NaN

### Calcular Indicadores
    - Groupby
    - Value Counts

In [26]:
correction = []
for i in list(vendas_df['ID Loja']):
    if i == "Passei das Águas Shopping":
        corrected = "Passeio das Águas Shopping"
        correction.append(corrected)
    else:
        correction.append(i)

vendas_df['ID Loja'] = correction

# value counts
transacoes_loja = vendas_df['ID Loja'].value_counts()
transacoes_loja

# group by
#faturamento_produto = vendas_df[['Produto', 'Valor Final']].groupby('Produto').sum()
#faturamento_produto

Shopping Vila Velha                 4533
Palladium Shopping Curitiba         4511
Rio Mar Recife                      4465
Norte Shopping                      4434
Iguatemi Campinas                   4423
Rio Mar Shopping Fortaleza          4412
Bourbon Shopping SP                 4402
Shopping SP Market                  4352
Salvador Shopping                   4332
Ribeirão Shopping                   4325
Shopping Ibirapuera                 4324
Shopping Center Leste Aricanduva    4323
Center Shopping Uberlândia          4313
Shopping Iguatemi Fortaleza         4311
Shopping Eldorado                   4306
Passeio das Águas Shopping          4289
Novo Shopping Ribeirão Preto        4288
Shopping União de Osasco            4279
Shopping Center Interlagos          4275
Shopping Morumbi                    4266
Iguatemi Esplanada                  4237
Shopping Barra                      4222
Parque Dom Pedro Shopping           4192
Shopping Recife                     4177
Shopping Midway Mall                4096
Name: ID Loja, dtype: int64

### Mesclar 2 dataframes (Procurar informações de um dataframe em outro)

In [21]:
gerentes_df = pd.read_excel("Gerentes.xlsx")
# display(gerentes_df)

vendas_df = vendas_df.merge(gerentes_df)
vendas_df

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto,Gerente
0,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.000000,0.0,Salvador
1,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.400000,0.0,Salvador
2,21,2019-01-02,Iguatemi Esplanada,Camisa Gola V Listrado,2,116,232,11.600000,0.0,Salvador
3,34,2019-01-02,Iguatemi Esplanada,Sapato Listrado,1,363,363,18.150000,0.0,Salvador
4,34,2019-01-02,Iguatemi Esplanada,Camisa Gola V Liso,2,118,236,11.800000,0.0,Salvador
...,...,...,...,...,...,...,...,...,...,...
100993,69846,2019-12-25,Salvador Shopping,Short Estampa,2,96,192,20.743163,0.0,Mateus
100994,69846,2019-12-25,Salvador Shopping,Tênis Estampa,5,256,1280,20.743163,0.0,Mateus
100995,69850,2019-12-25,Salvador Shopping,Calça Estampa,4,177,708,20.743163,0.0,Mateus
100996,69972,2019-12-26,Salvador Shopping,Terno Liso,3,720,2160,20.743163,0.0,Mateus
100997,69972,2019-12-26,Salvador Shopping,Sapato Estampa,5,358,1790,20.743163,0.0,Mateus