# Prova 1

## Instruções

Complete as células a seguir com o código necessário para responder as perguntas que estão nos comentários. Boa sorte!!

In [2]:
import pandas as pd
import datetime

In [3]:
# Importe os dados do arquivo Space_Corrected.csv como um DataFrame
space = pd.read_csv("Space_Corrected.csv")
space

,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission
0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success
1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Thu Aug 06, 2020 04:01 UTC",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success
2,SpaceX,"Pad A, Boca Chica, Texas, USA","Tue Aug 04, 2020 23:57 UTC",Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success
3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan","Thu Jul 30, 2020 21:25 UTC",Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65.0,Success
4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA","Thu Jul 30, 2020 11:50 UTC",Atlas V 541 | Perseverance,StatusActive,145.0,Success
...,...,...,...,...,...,...,...
4319,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA","Wed Feb 05, 1958 07:33 UTC",Vanguard | Vanguard TV3BU,StatusRetired,NaN,Failure
4320,AMBA,"LC-26A, Cape Canaveral AFS, Florida, USA","Sat Feb 01, 1958 03:48 UTC",Juno I | Explorer 1,StatusRetired,NaN,Success
4321,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA","Fri Dec 06, 1957 16:44 UTC",Vanguard | Vanguard TV3,StatusRetired,NaN,Failure
4322,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan","Sun Nov 03, 1957 02:30 UTC",Sputnik 8K71PS | Sputnik-2,StatusRetired,NaN,Success
4323,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan","Fri Oct 04, 1957 19:28 UTC",Sputnik 8K71PS | Sputnik-1,StatusRetired,NaN,Success

In [6]:
# Análise descritiva de dados
# Quantos elementos estão presentes no conjunto de dados?
print("Número de elementos:",len(space))
# Quantas colunas?
print("\nNúmero de colunas:",len(space.columns))

Número de elementos: 4324

Número de colunas: 7

In [10]:
# A coluna Datum possui informações sobre a data de lançamento
# Para transformar a data de texto para datetime e poder obter o ano, vamos utilizar a função to_datetime
# Assim vamos obter o ano de cada lançamento e salvar em uma nova coluna
space['Ano'] = [i.year for i in pd.to_datetime(space['Datum'])]
space.head()

,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission,Ano
0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success,2020
1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Thu Aug 06, 2020 04:01 UTC",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success,2020
2,SpaceX,"Pad A, Boca Chica, Texas, USA","Tue Aug 04, 2020 23:57 UTC",Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success,2020
3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan","Thu Jul 30, 2020 21:25 UTC",Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65.0,Success,2020
4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA","Thu Jul 30, 2020 11:50 UTC",Atlas V 541 | Perseverance,StatusActive,145.0,Success,2020

In [41]:
# Obtenha quantos lançamentos foram realizados por ano e qual ano teve mais lançamentos
ano = space["Ano"].value_counts()
print(ano)
print("\nAno com mais lançamentos: 1971, com 119 lançamentos.")
# Esse conjunto de dados compreende quantos anos de lançamento?
print(f"\nEsse conjunto compreende {len(ano)} anos de lançamentos.")

1971    119
2018    117
1977    114
1975    113
1976    113
       ...
2010     37
2005     37
1958     28
1959     20
1957      3
Name: Ano, Length: 64, dtype: int64

Ano com mais lançamentos: 1971, com 119 lançamentos.

Esse conjunto compreende 64 anos de lançamentos.

In [37]:
# Determine quantos lançamentos foram bem sucedidos
success = space[space["Status Mission"] == "Success"]
print(f"Foram {len(success)} lançamentos bem sucedidos.")

Foram 3879 lançamentos bem sucedidos.

In [57]:
# Determine quantos lançamentos foram realizados por cada Company Name
company = space.groupby("Company Name").count()
print("Lançamentos por empresa:",company)
# Quantos lançamentos são brasileiros?
brasil = []
for country in space["Location"]:
    if "Brazil" in country:
        brasil.append(country)
print("\nLançamentos realizados no Brasil:",len(brasil))

Lançamentos por empresa:                   Location  Datum  Detail  Status Rocket  Rocket  \
Company Name
AEB                      3      3       3              3       0
AMBA                     8      8       8              8       0
ASI                      9      9       9              9       0
Arianespace            279    279     279            279      96
Arm??e de l'Air          4      4       4              4       0
Blue Origin             12     12      12             12       0
Boeing                 136    136     136            136       7
CASC                   251    251     251            251     158
CASIC                    5      5       5              5       0
CECLES                   4      4       4              4       0
CNES                     8      8       8              8       0
Douglas                  1      1       1              1       0
EER                      1      1       1              1       1
ESA                     13     13      13             13       1
Eurockot                13     13      13             13      13
ExPace                  10     10      10             10       1
Exos                     4      4       4              4       0
General Dynamics       251    251     251            251       0
IAI                     11     11      11             11       0
ILS                     46     46      46             46      13
IRGC                     1      1       1              1       0
ISA                     13     13      13             13       0
ISAS                    30     30      30             30       0
ISRO                    76     76      76             76      67
JAXA                     7      7       7              7       3
KARI                     3      3       3              3       0
KCST                     5      5       5              5       0
Khrunichev               1      1       1              1       0
Kosmotras               22     22      22             22      22
Land Launch              7      7       7              7       0
Landspace                1      1       1              1       0
Lockheed                79     79      79             79       8
MHI                     84     84      84             84      37
MITT                     7      7       7              7       0
Martin Marietta        114    114     114            114       9
NASA                   203    203     203            203     149
Northrop                83     83      83             83      83
OKB-586                  2      2       2              2       0
OneSpace                 1      1       1              1       0
RAE                      2      2       2              2       0
RVSN USSR             1777   1777    1777           1777       2
Rocket Lab              13     13      13             13      13
Roscosmos               55     55      55             55      23
SRC                      3      3       3              3       0
Sandia                   1      1       1              1       1
Sea Launch              36     36      36             36       0
SpaceX                 100    100     100            100      99
Starsem                  1      1       1              1       0
ULA                    140    140     140            140      98
US Air Force           161    161     161            161      26
US Navy                 17     17      17             17       0
UT                       5      5       5              5       0
VKS RF                 201    201     201            201      33
Virgin Orbit             1      1       1              1       1
Yuzhmash                 2      2       2              2       0
i-Space                  1      1       1              1       0

                  Status Mission   Ano
Company Name
AEB                            3     3
AMBA                           8     8
ASI                            9     9
Arianespace                  279   279
Arm??e de l'Air                4     4
Blue Origin                   12    12
Boeing                       136   136
CASC                         251   251
CASIC                          5     5
CECLES                         4     4
CNES                           8     8
Douglas                        1     1
EER                            1     1
ESA                           13    13
Eurockot                      13    13
ExPace                        10    10
Exos                           4     4
General Dynamics             251   251
IAI                           11    11
ILS                           46    46
IRGC                           1     1
ISA                           13    13
ISAS                          30    30
ISRO                          76    76
JAXA                           7     7
KARI                           3     3
KCST                           5     5
Khrunichev                     1     1
Kosmotras                     22    22
Land Launch                    7     7
Landspace                      1     1
Lockheed                      79    79
MHI                           84    84
MITT                           7     7
Martin Marietta              114   114
NASA                         203   203
Northrop                      83    83
OKB-586                        2     2
OneSpace                       1     1
RAE                            2     2
RVSN USSR                   1777  1777
Rocket Lab                    13    13
Roscosmos                     55    55
SRC                            3     3
Sandia                         1     1
Sea Launch                    36    36
SpaceX                       100   100
Starsem                        1     1
ULA                          140   140
US Air Force                 161   161
US Navy                       17    17
UT                             5     5
VKS RF                       201   201
Virgin Orbit                   1     1
Yuzhmash                       2     2
i-Space                        1     1

Lançamentos realizados no Brasil: 3

In [56]:
# Obtenha todos os lançamentos realizados em 1969
moon = space[space["Ano"] == 1969]
print(moon)
# Quantos foram realizados pelos NASA? E pela RVSN USSR?
nasa = space[space["Company Name"] == "NASA"]
ussr = space[space["Company Name"] == "RVSN USSR"]
print("\nLançamentos da NASA:",len(nasa),
      "\nLançamentos da USSR:",len(ussr))
# Um dos lançamentos de 1969 foi o da missão até a lua.
# Essa missão foi realizada em um foguete Saturn V | Apollo 11, o que estará na coluna Detail
# Encontre esse lançamento no conjunto de dados e determine a data desse lançamento
neil = space[space["Detail"] == "Saturn V | Apollo 11"]
print("\n\nData de lançamento da missão Apollo 11:", neil["Datum"].values[0])

     Company Name                                     Location  \
3499    RVSN USSR      Site 132/1, Plesetsk Cosmodrome, Russia
3500    RVSN USSR              Site 86/1, Kapustin Yar, Russia
3501    RVSN USSR       Site 41/1, Plesetsk Cosmodrome, Russia
3502    RVSN USSR  Site 90/20, Baikonur Cosmodrome, Kazakhstan
3503    RVSN USSR      Site 132/1, Plesetsk Cosmodrome, Russia
...           ...                                          ...
3597    RVSN USSR    Site 1/5, Baikonur Cosmodrome, Kazakhstan
3598    RVSN USSR   Site 31/6, Baikonur Cosmodrome, Kazakhstan
3599    RVSN USSR       Site 41/1, Plesetsk Cosmodrome, Russia
3600    RVSN USSR    Site 1/5, Baikonur Cosmodrome, Kazakhstan
3601    RVSN USSR    Site 1/5, Baikonur Cosmodrome, Kazakhstan

                           Datum                                Detail  \
3499  Sat Dec 27, 1969 14:20 UTC  Cosmos-3M (11K65M) | Ionosfernaya #1
3500  Thu Dec 25, 1969 09:59 UTC      Cosmos-2I (63SM) | Intercosmos-2
3501  Tue Dec 23, 1969 13:50 UTC                  Voskhod | Cosmos 317
3502  Tue Dec 23, 1969 09:25 UTC                Tsyklon-2 | Cosmos 316
3503  Sat Dec 20, 1969 03:26 UTC       Cosmos-3M (11K65M) | Cosmos 315
...                          ...                                   ...
3597  Wed Jan 15, 1969 07:04 UTC                       Soyuz | Soyuz 5
3598  Tue Jan 14, 1969 07:30 UTC                       Soyuz | Soyuz 4
3599  Sun Jan 12, 1969 12:10 UTC                  Voskhod | Cosmos 263
3600  Fri Jan 10, 1969 05:51 UTC        Molniya-M /Block VL | Venera 6
3601  Sun Jan 05, 1969 06:28 UTC        Molniya-M /Block VL | Venera 5

      Status Rocket Rocket Status Mission   Ano
3499  StatusRetired    NaN        Failure  1969
3500  StatusRetired    NaN        Success  1969
3501  StatusRetired    NaN        Success  1969
3502  StatusRetired    NaN        Success  1969
3503  StatusRetired    NaN        Success  1969
...             ...    ...            ...   ...
3597  StatusRetired    NaN        Success  1969
3598  StatusRetired    NaN        Success  1969
3599  StatusRetired    NaN        Success  1969
3600  StatusRetired    NaN        Success  1969
3601  StatusRetired    NaN        Success  1969

[103 rows x 8 columns]

Lançamentos da NASA: 203
Lançamentos da USSR: 1777


Data de lançamento da missão Apollo 11: Wed Jul 16, 1969 13:32 UTC

In [58]:
def main():
    print("20/07/1969 + 30 anos = meu nascimento :)")
    return

if __name__ == '__main__':
    main()

20/07/1969 + 30 anos = meu nascimento :)